*{
    margin: 0px;  padding: 0px;
    
 }

body{
background-color: rgb(255, 255, 255);

}

.começo{
background-image: url(witchy.jpg);
background-size: cover;
}
.novaparte{
  background-color: #0f7a56;
  display: flex;

  
}


table{
  margin: 100px;
  margin-top: 0;
}


.timeline {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.task {
  background-color: #f2f2f2;
  padding: 20px;
}

.task h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task p {
  font-size: 14px;
  margin-bottom: 10px;
}

.task ul {
  list-style-type: disc;
  margin-left: 20px;
}

.task li {
  margin-bottom: 5px;
}


.cabeçalho {
  background-color: #0f7a56;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.titulo {
  color: #fff;
  font-size: 36px;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  transition: ease-in-out 0.3s;
  
  padding: 4px;
}



#calendar {
 
  background-color: #e6ddd82d;
  border-radius: 40px;
 
}

.calendar{

  margin: 140px;
}

#prev-button{
  color: #e6ddd8;
  border: none;
  margin-left: 50px;
  transition: ease-in 0.4s;
  background-color:  #0f7a56ee;
  padding: 4px;
  width: 100px;
  height: 30px;
  
}

#next-button{
  height: 30px;
  width: 100px;
  color: #e6ddd8;
  border: none;
  margin-left: 200px;
  transition: ease-in 0.4s;
  padding: 4px;
  background-color:  #0f7a56ee;
}


#prev-button:hover{
  background-color: gray;
  border: none;
 
 
}

#next-button:hover{
  background-color: gray;
  border: none;


}



#calendar-container {
  max-width: 800px;
  margin: 0px auto;
  
  background-color: #ffe8e8;
  padding: 20px;
  border-radius: 50px;
  justify-content: center;
  margin-left: 60px ;
  margin-top: 0;
}

table {
  margin-left: 60px;
  justify-content: center;
  margin: 0px;
  border-collapse: collapse;
  border: 20px solid  #0f7a56;
}

th, td {
  padding: 2px;
  text-align: center;
  border: 1px solid #ffffff;
  
}

th {
  background-color: #e6ddd8;
}

td {
  height: 40px;
 background-color: #e6ddd8;
}


.blue{
  background-color: rgb(43, 130, 243);
}

.green{
  background-color: rgb(95, 219, 95);
}

.red {
  background-color: rgb(233, 39, 87);
}

